@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.inter-font {
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@900&display=swap');

.merriweather-font {
    font-family: 'Merriweather', serif;
}

* {
    margin: 0px;
}

#footer {
    background: #070211;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0px auto;
}

.footer-section {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    padding-top: 120px;
    padding-bottom: 50px;
    margin-top: 120px;
}

.icon-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #424b53;
    border-bottom: 1px solid #424b53;
    padding: 48px 0px;
}

.social-icon {
    padding-left: 24px;
}

.footer-contact,
p {
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.copyright-section {
    width: 82%;
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 120px;
}

.header-banner {
    background-image: url('./resources/banner-image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-bottom: 120px;
    margin-top: 20px;
}

.header-h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.header-h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.second-section-h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.second-section-h6 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.second-section-h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 10px;
}

.second-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 120px;
}

.third-section-main {
    background-image: url(./resources/vectorr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-bottom: 120px;
}

.third-section-h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    padding-top: 220px;
    padding-left: 80px;
}

.third-section-p {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-left: 80px;
}

.third-section-a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding-top: 458px;
    padding-left: 138px;
}

.third-section-main {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.third-section-img {
    padding: 68px 138px 68px 0px;
}

.fourth-section {
    background-color: #ffe9e9;
    text-align: center;
    padding-bottom: 110px;
}

.fourth-section-New {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 100px;
}

.fourth-section-Date {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 5px;
}

.fourth-section-Time {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding-top: 5px;
    padding-bottom: 48px;
}

.fourth-section-color {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.fourth-section-btn {
    background-color: #FF0000;
    padding: 20px 42px;
    color: #FFF;
    border-radius: 8px;
    border: #FF0000;
}

.fifth-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    margin-top: 120px;
}

.ellipse {
    padding: 40px;
    border: 14px solid #FF0000;
    border-radius: 463px;
}

.fifth-section-h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.fifth-section-h2-2024 {
    margin-left: 0px;
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.fifth-section-p {
    color: #bababa;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0px;

}

.fifth-section-three {
    padding-right: 40px;
}

.ellipse-pic {
    padding: 0px 80px 0px 60px;
}

.happy-new-year-png {
    padding-top: 40px;
}

.fifth-section-h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.six-section-text {
    text-align: center;
}

.six-section-text-h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
}

.six-section-text-h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.six-section-text-p {
    text-align: center;
    padding: 28px 240px;
}

.Holidays {
    color: #F00;
}

.seven-section-text {
    margin-top: 120px
}

.Portfolio {
    margin-top: 18px;
}

.Dolor {
    margin-top: 22px;
}

.collection-image {
    margin-top: 48px;
    display: flex;
    gap: 24px;
}

.collection-image-two {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.newslatter-section {
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    background-color: #FF00000D;
    margin-top: 120px;
}

.newslatter-section-h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
}

.newslatter-section-p {
    text-align: center;
    padding: 28px 240px;
    color: #a5a5a5;
}

.newslatter-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.Subscribe {
    text-align: center;
}

.subscribe-btn {
    padding: 24px 56px 24px 56px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border:none;
}
.newslatter-section form{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    
}
.newslatter-section form input{
   flex-grow: 1;
   border:none;
   border-radius: 50px 0px 0px 50px  ;
   padding: 20px 267px 20px 50px;
}